@charset "UTF-8";

.fechamento{
    color: red;
    display: flex;
    justify-content: flex-end;
}

.fechamento:hover{
    color: white;
}

.logo{
    margin-left: 10px;
    margin-right: 20px;
    width: 100px;
    height: 90px;
}

.box{
    background-color: rgba(0, 0, 0, 0.774);
    height: 100px;
    margin-top: -30px;
}

.txtRodape{
    color: white;
    margin-top: -40px;
}

.field2{
    display: flex;
    flex-direction: column;
}

.paragrafo{
    color: white;
    margin-top: -63px;
    margin-left: 35px;
}
.paragrafo2{
    color: white;
    margin-top: 12px;
    margin-left: 35px;
}

.caixa-email{
    margin-top: -60px;
    margin-left: 280px;
    width: 300px;
}

.caixa-email2{
    margin-top: 5px;
    margin-left: 305px;
    width: 300px;
}

.botao1{
    width: 100px;
    height: 30px;
    margin-top: -68px;
    margin-left: 590px;
}

.botao2{
    width: 100px;
    height: 30px;
    margin-left: 615px;
    margin-top: 10px;
}

.textoAdd{
    margin-left: 55px;
}

.imgAdd{
    margin-bottom: -48px;
}

.imgRodape{
    margin-top: -5px;
}

.imgRodape2{
    margin-top: 5px;
}